<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-logo">ACADEMIA</a>
    <ul class="nav-menu">
      <li class="nav-item">
        <a href="/home" class="nav-links">Home</a>
      </li>
      <li class="nav-item">
        <a href="/courses" class="nav-links">All Courses</a>
      </li>
      <li>
        <a href="/dashboard" class="nav-links">Dashboard</a>
      </li>
      <li>
        <a href="/students" class="nav-links">Students</a>
      </li>
    </ul>
  </div>
</nav>
